h1{
    border: 2px solid black;
    background-color: rgb(230, 221, 131);
    height: 10vh;
    font-size: 50px;
   /* padding: 30px; */
}

h1::before{
    content: '\260E';
    color: blue;
    
}

div{
    border: 1px solid #ccc;
    background-color:cornflowerblue;
    width: 100%;
    height: 40px;
    font-size: 30px;
    position: sticky;
    top: 10px;
}

li{
    border: 1px solid #CCC;
    font-size: 20px;
}








